:root {
    --verde-menu: #50A3A7;
    --branco: #fff;
    --verde-banner: #76FF40;
    --laranja-palestrantes: #F17E50;
}
/* html {
    scroll-behavior: smooth;
} */
.container {
    padding-right: 6%;
    padding-left: 6%;
}

